.Vol-card {
  width: 20%;
  min-width: 300px;
  padding: 30px 25px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  color: white;
  transition: 0.3s;
}
.Vol-card:hover {
  transform: translateY(-4px);
  border: 2px solid #00b8a9;
}

.icon-box {
  width: 55px;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 184, 169, 0.25);
  color: rgb(0, 184, 169);
  border-radius: 12px;

  font-size: 22px;

  margin-bottom: 20px;
}

.Vol-card h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.Vol-card p {
  font-size: 20px;
  line-height: 1.2;
  color: #b8c0cc;
  margin-bottom: 25px;
}

.vol-btn {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: transparent;
  color: white;

  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}

.vol-btn:hover {
  background: #00b8a9;
  border: none;
}
h4 {
  font-weight: bolder;
  font-size: 22px;
}
