
.navbar {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6%;
  background: rgba(10,14,30,0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(120,140,255,0.15);
}


.nav-logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}


.menu-icon {
  font-size: 28px;
  color: white;
  cursor: pointer;
  display: block;
}


.nav-links {
  position: absolute;
  top: 72px;
  right: 0;

  width: 100%;
  background: rgba(10,14,30,0.95);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  transform: translateY(-200%);
  transition: 0.3s ease;
}


.nav-links.active {
  transform: translateY(0);
}


.nav-links li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 8px;
  color: #cfd6ff;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
}


.nav-links li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: rgb(10,164,169);
  transition: 0.3s;
  transform: translateX(-50%);
}

.nav-links li:hover::after {
  width: 70%;
}

.nav-links li:hover {
  color: rgb(10,164,169);
}


.nav-btn {
  padding: 8px 18px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid rgb(10,164,169);
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: rgb(10,164,169);
  transform: translateY(-2px);
}


@media (min-width: 768px) {

  .menu-icon {
    display: none;
  }

  .nav-links {
    position: static;
    flex-direction: row;
    width: auto;
    background: transparent;
    transform: none;

    gap: 35px;
    padding: 0;
  }
}