* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}
.btn {
  background-color: #2f5ae0;
  color: white;
  padding: 14px 25px;
  font-size: 22px;
  border-radius: 12px;
  cursor: pointer;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}